@font-face {
  font-family: "ChillDuanHeiSong";
  src: url(/font/ChillDuanHeiSongRegular.otf);
}

@font-face {
  font-family: "MarkaziText";
  src: url(/font/MarkaziText-Regular.ttf);
}

* {
  font-family: "ChillDuanHeiSong", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100vw;
  height: 100vh;
  padding: 4rem;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

time-component,
sentence-component,
favorite-component {
  opacity: 0.3;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.4s;
}

/* time component */

time-component {
  opacity: 0;
  position: relative;
}

time-component .time {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 4.875rem;
  line-height: 5.25rem;
  font-weight: 700;
  color: var(--primary-color);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--muted-foreground-color);
  z-index: 1;
}

time-component .time::after {
  content: attr(data-descr);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 8px;
  top: 8px;
  opacity: 0.15;
  z-index: -1;
}

time-component .date {
  display: inline-block;
  margin-top: 0.75rem;
  font-size: 2.55rem;
  line-height: 2rem;
  font-family: "MarkaziText", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  background-image: linear-gradient(
    to right,
    var(--muted-foreground-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* sentence component */

sentence-component {
  cursor: pointer;
}

sentence-component .sentence {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--foreground-color);
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.17rem;
}

sentence-component .from {
  color: var(--muted-foreground-color);
  font-size: 1.2rem;
  line-height: 1.65rem;
  padding-left: 0.5rem;
  border-left: 4px solid var(--primary-color);
  letter-spacing: 0.05rem;
}

/* favorite component */

favorite-component .container {
  position: relative;
  display: inline-block;
  border: 3.5px solid var(--primary-color);
}

favorite-component h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 5.2rem;
  line-height: 2.8rem;
  transform: translateY(0.1rem);
  font-weight: 700;
  letter-spacing: -0.2rem;
}

favorite-component .container > h2 {
  display: inline-block;
  color: var(--primary-color);
}

favorite-component .fav {
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 0 0.5rem;
  overflow: hidden;
  z-index: 1;
}

favorite-component .fav h2 {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  color: var(--background-color);
  opacity: 0.15;
}

favorite-component .list {
  display: flex;
  flex-direction: row;
  /* column-gap: 0.2rem; */
}

favorite-component .list a {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  /* border-radius: 50%; */
  max-width: 5rem;
}

favorite-component .list a > * {
  width: 1.7rem;
  height: 1.7rem;
  color: var(--muted-foreground-color);
}

@media (prefers-color-scheme: dark) {
  main {
    background: linear-gradient(135deg, #2f2f30, #373b41);
  }
}
