* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --primary-color: #c3cfe2;
  --foreground-color: #202124;
  --muted-foreground-color: #414141;
  --background-color: #ffffff;
  --muted-background-color: #f1f3f8;
  --card-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #565c66;
    --foreground-color: #e3e3e3;
    --muted-foreground-color: #d9d9d9;
    --background-color: #202124;
    --muted-background-color: #292a2d;
  }
}
