* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --primary-color: #c3cfe2;
  --foreground-color: #2f2f30;
  --muted-foreground-color: #565c66;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100vw;
  height: 100vh;
  padding: 4rem;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

/* time component */

time-component {
  position: relative;
}

time-component .time {
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
  font-size: 4.875rem;
  line-height: 5.25rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--primary-color);
}

time-component .time-main {
  position: absolute;
  top: 0.5rem;
  left: 0.1rem;
  color: var(--primary-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--muted-foreground-color);
}

time-component .week {
  display: inline-block;
  margin-top: 0.75rem;
  font-size: 1.55rem;
  line-height: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--muted-foreground-color);
  letter-spacing: 0.2rem;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

/* hitokoto component */

hitokoto-component .container {
  opacity: 0.5;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.4s;
}

hitokoto-component .hitokoto {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--foreground-color);
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}

hitokoto-component .from {
  color: var(--muted-foreground-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.5rem;
  border-left: 4px solid var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #565c66;
    --foreground-color: #f5f7fa;
    --muted-foreground-color: #c3cfe2;
  }
  main {
    background: linear-gradient(135deg, #2f2f30, #373b41);
  }
}
